*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.container {
  display: inline-flex;
  max-width: 1440px;
  flex-direction: row;
}

.logo {
  display: block;
  padding: 24px 76px 156px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.03em;
  /* width: 115px;
  height: 24px; */
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #2e2f42;
}

.header-list-item {
  display: flex;
  width: 261px;
  height: 24px;
  margin-top: 0;
}
.header-list-item .nav-li {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 40px;
}

.nav-li:hover,
.nav-li:focus,
.nav-li:active {
  color: #404bbf;
}

.address-list {
  display: flex;
  padding: 24px 156px 40px;
  justify-content: flex-end;
}

.email-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-right: 40px;
}
.email-tel:hover,
.email-tel:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.title {
  display: block;
  flex-direction: row;
  align-content: center;
  width: 496px;
  height: 120px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  text-align: center;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background: #404bbf;
}

.advantages {
  background: #f4f4fd;
}

.title-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.box-ul {
  background-color: #ffffff;
}

.item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.team .our-team-list {
  text-align: center;
}

.footer {
  background: #2e2f42;
}

.footer .logo {
  color: #4d5ae5;
  text-transform: capitalize;
  text-transform: uppercase;
}

.footer .accent-logo {
  color: #f4f4fd;
  text-transform: capitalize;
}

.footer-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
